@media (min-width: 320px) and (max-width: 340px) {
  .wrapper {
    width: 280px !important;
  }
  nav .wrapper {
    width: 100% !important;
  }
}
@media (min-width: 320px) and (max-width: 370px) {
  header .header-top #booking span {
    width: 60%;
    font-size: 0.85rem !important;
    flex: 1;
  }
  nav .wrapper {
    width: 100% !important;
  }
}
@media (min-width: 320px) and (max-width: 499px) {
  header {
    #nav_btn {
      display: block;
    }
    .header-top {
      position: relative;
      padding: 80px 0;
    }
    .header-logo {
      position: absolute;
      width: 40%;
      top: 25px;
      left: 10px;
    }
  }
  header .header-search {
    position: absolute;
    width: 90%;
    bottom: 15px;
    right: 0;
  }
  header .header-top #booking {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 40%;
    margin-left: 0;
  }
  header .header-top #booking img {
    width: 20%;
  }
  header .header-top #booking span {
    width: 60%;
    font-size: 1rem;
    flex: 1;
  }
  nav {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;

    .wrapper {
      width: 100%;
      padding: 0;
      overflow-y: scroll;
      height: 80vh;
      &::-webkit-scrollbar {
        display: none;
      }
      ul {
        display: block;
        li {
          a {
            text-transform: uppercase;
          }
          &:hover {
            > a {
              background: #cf0a0a;
              color: #f7fb65;
              transition: all 0.3s;
            }
          }
        }
      }
      > ul {
        li {
          list-style: none;
          flex-grow: 1;
          a {
            display: block;
            padding: 0 25px;
            line-height: 70px;
            color: #f1f2f3;
            text-decoration: none;
            text-align: center;
          }
          .parent {
            &:before {
              display: none;
            }
          }

          > ul {
            border-bottom: 2px solid #fff;
            li {
              a {
                line-height: 50px;
                text-align: center;
              }
              > ul {
                margin-left: 0;
                margin-top: 0;
              }
            }
          }
        }
      }
      li {
        ul {
          display: none;
          min-width: 260px;
          position: relative;
        }
        > ul {
          li {
            width: 100%;
            border: none;
            // border-bottom: 1px solid #ccc;
            background: #111;
          }
        }
        &:hover {
          > ul {
            display: block;
          }
        }
      }
    }
  }
  nav .wrapper {
    width: 100% !important;
  }
  .wrapper {
    width: 320px;
  }
  #current .title .content,
  #sale .title .content {
    font-size: 25px;
  }
  #current #list-film .list-film {
    justify-content: center;
  }
  #info .info-container .info-box:first-child {
    width: 100%;
  }
  #info .info-container .info-box:last-child {
    width: 100%;
  }
  #info .address-wrapper .address-item {
    width: 100%;
    margin-bottom: 20px;
  }
  footer {
    padding: 12px 0;
    .wrapper {
      flex-wrap: wrap;
      p,
      span {
        font-size: 0.7rem;
      }
      .copy-right span {
        display: block;
        margin-top: 2px;
      }
      .copy-right,
      .online {
        width: 100%;
      }
      .online {
        flex-wrap: wrap;
        margin-top: 10px;
        p {
          width: 100%;
        }
        justify-content: start;
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  header {
    #nav_btn {
      display: block;
    }
    .header-top {
      position: relative;
      padding: 80px 0;
    }
    .header-logo {
      position: absolute;
      width: 40%;
      top: 25px;
      left: 10px;
    }
  }
  header .header-search {
    position: absolute;
    width: 90%;
    bottom: 15px;
    right: 0;
  }
  header .header-top #booking {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 40%;
    margin-left: 0;
  }
  header .header-top #booking img {
    width: 20%;
  }
  header .header-top #booking span {
    width: 60%;
    font-size: 1rem;
    flex: 1;
  }
  nav {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;

    .wrapper {
      width: 100%;
      padding: 0;
      overflow-y: scroll;
      height: 80vh;
      &::-webkit-scrollbar {
        display: none;
      }
      ul {
        display: block;
        li {
          a {
            text-transform: uppercase;
          }
          &:hover {
            > a {
              background: #cf0a0a;
              color: #f7fb65;
              transition: all 0.3s;
            }
          }
        }
      }
      > ul {
        li {
          list-style: none;
          flex-grow: 1;
          a {
            display: block;
            padding: 0 25px;
            line-height: 70px;
            color: #f1f2f3;
            text-decoration: none;
            text-align: center;
          }
          .parent {
            &:before {
              display: none;
            }
          }

          > ul {
            border-bottom: 2px solid #fff;
            li {
              a {
                line-height: 50px;
                text-align: center;
              }
              > ul {
                margin-left: 0;
                margin-top: 0;
              }
            }
          }
        }
      }
      li {
        ul {
          display: none;
          min-width: 260px;
          position: relative;
        }
        > ul {
          li {
            width: 100%;
            border: none;
            // border-bottom: 1px solid #ccc;
            background: #111;
          }
        }
        &:hover {
          > ul {
            display: block;
          }
        }
      }
    }
  }
  nav .wrapper {
    width: 100% !important;
  }
  .wrapper {
    width: 480px;
  }
  header .header-top #booking span {
    font-size: 14px;
  }
  #current #list-film .list-film {
    gap: 10px;
  }
  #info .info-container .info-box:first-child {
    width: 100%;
  }
  #info .info-container .info-box:last-child {
    width: 100%;
  }

  footer {
    padding: 12px 0;
    .wrapper {
      flex-wrap: wrap;
      p,
      span {
        font-size: 0.75rem;
      }
      .copy-right span {
        display: block;
        margin-top: 2px;
      }

      .online {
        flex-wrap: wrap;
        p {
          width: 100%;
          span {
            span {
              display: block;
            }
          }
        }
        justify-content: start;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    width: 740px;
  }
  header .header-logo {
    width: 40%;
  }
  nav {
    display: block !important;
  }
  header .header-top #booking span {
    font-size: 14px;
  }
  header .header-search input {
    font-size: 0.9rem;
  }
  nav .wrapper > ul li a {
    padding: 0 9px;
    line-height: 60px;
    font-size: 0.9rem;
  }
  #current #list-film .list-film {
    gap: 25px;
  }
  #info .info-container .info-box:first-child {
    width: 58%;
  }
  #info .info-container .info-box:last-child {
    width: 40%;
  }
  #info .address-wrapper {
    justify-content: space-between;
  }
  #info .address-wrapper .address-item {
    width: 49%;
  }
  #info .address-wrapper .address-item .detail a {
    font-size: 0.85rem;
  }
  #info .address-wrapper .address-item a {
    font-size: 0.85rem;
  }
  footer {
    padding: 12px 0;
    .wrapper {
      flex-wrap: wrap;
      p,
      span {
        font-size: 0.8rem;
      }
      .copy-right,
      .online {
        width: 100%;
      }
      .online {
        margin-top: 10px;
        gap: 10px;
        justify-content: start;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .wrapper {
    width: 1000px;
  }
  #current #list-film .list-film {
    gap: 30px;
  }
  nav {
    display: block !important;
  }
  footer {
    .wrapper {
      p,
      span {
        font-size: 0.85rem;
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1399px) {
  .wrapper {
    width: 1200px;
  }
  nav {
    display: block !important;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    width: 1200px;
  }
  nav {
    display: block !important;
  }
}
